@import "src/assets/styles/breake_media";

.keanu_ones {
  svg {
    fill: none;
    stroke: var(--highlight_color);
    filter: drop-shadow(0 0 8px var(--object_shadow));
    stroke-width: 1;

    .glasses_metal {
      stroke: none;
      fill: var(---high_light_glass_low);
    }

    .glasses_toned {
      stroke: none;
      fill: var(--object_color_border);
    }

    .hair {
      stroke: none;
      fill: var(--object_color_border);
      opacity: 0.5;
    }

    .body_start {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 0%;
    }

    .body_end {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 70%;
    }

    .unstroke_obj {
      stroke: none;
    }
  }
}

.hulk_ones {
  svg {
    fill: none;
    stroke: var(--highlight_color);
    filter: drop-shadow(0 0 8px var(--object_shadow));
    stroke-width: 1;

    .glasses_metal {
      stroke: none;
      fill: var(--highlight_color_shadow);
    }

    .glasses_toned {
      stroke: none;
      fill: var(--object_color_border);
    }

    .hair {
      stroke: none;
      fill: var(--object_color_border);
      opacity: 0.5;
    }

    .body_start {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 0%;
    }

    .body_end {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 70%;
    }

    .unstroke_obj {
      stroke: none;
    }
  }
}

.laytops {
  user-select: none;
  position: relative;
  .text_system {
    width: 200px;
    position: absolute;
    top: 8%;
    left: 6%;
    display: block;
    transition: all var(--transition_all_speed);

    .text {
      text-transform: lowercase;
      .blinker {
        color: var(--highlight_color);
      }

      @media (max-width: $breake-point-overSmall) {
        font-size: 5px;
      }
    }

    }

  svg {
    stroke: var(--object_color);
    fill: var(--viever_color_backround);
    stroke-width: 1.4;

    .glow {
      filter: drop-shadow(0 0 8px var(--highlight_color_shadow));
    }

    .filler {
      fill: var(--background_die_color_opacity_low);
    }

    .body_start {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 10%;
    }

    .body_mid {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 50%;
    }

    .body_end {
      stroke: none;
      stop-color: var(--object_color_border);
      stop-opacity: 10%;
    }

    .__active_device {
      fill: var(--highlight_backround_light);
      animation: blink 6000ms infinite;
    }
  }
}

.Laytops_prev {
  svg {
    stroke: var(--object_color);
    fill: none;
    stroke-width: 1.4;
  }
}

.core {
  position: relative;
  svg {
    fill: none;
    stroke: var(--highlight_color);
    filter: drop-shadow(0 0 8px var(--object_shadow));
    stroke-width: 1;

    .glasses_metal {
      stroke: none;
      fill: var(--viever_color_backround);
    }

    .glasses_toned {
      stroke: none;
      fill: var(--object_color_border);
    }

    .active_device {
      fill: var(--highlight_color_shadow);
      animation: blink_hard 5000ms infinite;
    }
  }

  .core_text {
    position: absolute;
    width: 20px;
    height: 20px;
      &.__point {
        left: calc(50% - 2px);
        top: calc(50% - 8px);
      }
      &.__off {
        left: calc(50% - 7px);
        top: calc(50% - 10px);
      }
  }
}

@keyframes blink {
  0% {fill-opacity: 0.8}

  49% {fill-opacity: 0.85}
  50% {fill-opacity: 1}
  51% {fill-opacity: 0.85}

  65% {fill-opacity: 0.8}
  66% {fill-opacity: 1}
  67% {fill-opacity: 0.8}


  100% {fill-opacity: 0.8}
}

@keyframes blink_hard {
  0% {fill-opacity: 0.2}

  49% {fill-opacity: 0.45}
  50% {fill-opacity: 1}
  51% {fill-opacity: 0.2}

  65% {fill-opacity: 0.4}
  66% {fill-opacity: 0.9}
  67% {fill-opacity: 0.2}
  68% {fill-opacity: 1}
  69% {fill-opacity: 0.2}

  98% {fill-opacity: 0.4}
  99% {fill-opacity: 0.9}
  100% {fill-opacity: 0.2}
}
