@import "src/assets/styles/breake_media";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .container_inner_space {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 1600px;
    //height: 100%;
    //USE FRAME CONDITION START
    height: calc(100% - 3px);
    border: 1px solid var(--object_color_border);
    background: var(--background_die_color_opacity);
    //USE FRAME CONDITION END
    overflow-y: auto;

    @media screen and (max-width: $breake-point-15) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.header_container {
  max-width: 1600px;
  height: 106px;
  margin-top: 17px;
  width: 100%;
  overflow: hidden;

  .header {
    transform: translateY(3px);
  }
}

.content_container {
  margin-left: 7px;
  width: calc(100% - 21px);
  overflow-x: hidden;

  .text_open {
    margin-top: 15px;
    margin-left: 43px;

    @media screen and (max-width: $breake-point-8) {
      margin-left: 5px;
      width: calc(100% - 6px);
    }
  }

  .simply_strap {
    margin: 20px 18px 0 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .cell {
      min-width: 280px;
      flex: 1;
      margin: 20px 10px 0 10px;
    }

    @media screen and (max-width: $breake-point-8) {
      margin: 5px 0px 0 0px;
      .cell {
        margin: 10px 5px 0 5px;
      }
    }

    @media screen and (max-width: $breake-point-10) {
      .cell {
        min-width: 200px;
      }
    }
  }
}

.laytop_container {
  position: inherit;
  max-width: 300px;
  margin: 20px auto 0 auto;
}

.describe_block {
  margin-left: 13px;
  width: 100%;
  display: flex;

  .square_container {
    margin-top: 15px;
    width: 50px;
    height: 50px;

    @media screen and (max-width: $breake-point-8) {
      width: 40px;
      height: 40px;
    }

    @media screen and (max-width: $breake-point-10) {
      width: 30px;
      height: 30px;
    }
  }

  blockquote {
    h4 {
      text-align: left;
    }

    margin-left: 17px;
    margin-right: 5px;
    padding-left: 15px;
    text-align: justify;
  }

  .__up {
    margin-top: 10px;
  }
}

.text_open_quotes {
  margin-top: 20px;
  margin-left: 36px;
  margin-right: 40px;
  margin-bottom: 20px;

    @media screen and (max-width: $breake-point-8) {
      margin-left: 5px;
    }
}


