<div class="container scroll_style_custom"
     *ngIf="mainDiv"
     [@fadeInDownOnEnter]
     [@fadeOutUpOnLeave]
     (@fadeInDownOnEnter.start)="animInStart($event)"
     (@fadeInDownOnEnter.done)="animInDone($event)"
     (@fadeOutUpOnLeave.start)="animOutStart($event)"
     (@fadeOutUpOnLeave.done)="animOutDone($event)">


    <div class="container_inner_space scroll_style_custom">

        <div class="header_container">
            <div class="header">
                <header-open
                        header = 'ACHIVES'
                        headerText='{{"achives.achives"|translate}}'
                        description = '{{"achives.achives_header"|translate}}'>
                </header-open>
            </div>
        </div>

        <div class="content_container">
            <div class="text_open">
                <h4 class="__custom">{{"achives.description_1"|translate}}</h4>
                <p [ngStyle]="{'margin-top': 10 + 'px'}"
                   class="__custom">
                    {{"achives.description_2"|translate}}</p>
            </div>
        </div>

        <div class="achieve_container">
            <div *ngFor="let achieve of this.globalsService.achievesList.default.visit_page let i = index">
                <div *ngIf="achieve.weight === 'solid'" class="achieve_solid">
                    <div class="square">
                        <square-element
                                cornersSize = '10'
                                cornersPosition = 'out'
                                borders = 'true'
                                element = 'true'
                                state = '{{checkState(i)}}'
                                elementName='angular'>
                        </square-element>
                    </div>
                    <div class="description">
                        <h4 class="__custom">{{achieve.name}}</h4>
                        <div *ngIf="achieve.type === 'progress'" class="text __custom">Progress: <span>{{achieve.progress_value}}</span> of <span>{{achieve.progress_value_complete}}</span></div>
                        <div *ngIf="achieve.achieve_seen_date !== null else notgetyet" class="text __custom">
                            <div *ngIf="(achieve.achieve_seen_date | amDifference: currentDate :'days' : true) < 1">
                                <span>Received: </span>{{achieve.achieve_seen_date | amLocale: (translateService.currentLang === 'ua' ? 'uk' : translateService.currentLang) | amTimeAgo}}&nbsp;
                            </div>
                            <div *ngIf="(achieve.achieve_seen_date | amDifference: currentDate :'days' : true) >= 1">
                                <span>Received: </span>{{achieve.achieve_seen_date | date:'dd.MM.yyyy,HH:mm'}}&nbsp;
                            </div>
                        </div>

                        <ng-template #notgetyet>
                            <div class="text __custom">
                                <span *ngIf="achieve.state === 'solved'">Solved, but not Received yet</span>
                                <span *ngIf="achieve.state === 'none'">Not Solved yet</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div *ngIf="achieve.weight === 'casual'" class="achieve_casual">
                    <div class="square">
                        <square-element
                                cornersSize = '10'
                                cornersPosition = 'out'
                                borders = 'true'
                                element = 'true'
                                state = '{{checkState(i)}}'
                                elementName='angular'>
                        </square-element>
                    </div>
                    <div class="description">
                        <h4 class="__custom">{{achieve.name}}</h4>

                        <div *ngIf="achieve.achieve_seen_date !== null else notgetyet" class="text __custom">
                            <div *ngIf="(achieve.achieve_seen_date | amDifference: currentDate :'days' : true) < 1">
                                <span>Received: </span>{{achieve.achieve_seen_date | amLocale: (translateService.currentLang === 'ua' ? 'uk' : translateService.currentLang) | amTimeAgo}}&nbsp;
                            </div>
                            <div *ngIf="(achieve.achieve_seen_date | amDifference: currentDate :'days' : true) >= 1">
                                <span>Received: </span>{{achieve.achieve_seen_date | date:'dd.MM.yyyy,HH:mm'}}&nbsp;
                            </div>
                        </div>

                        <ng-template #notgetyet>
                            <div class="text __custom">
                                <span *ngIf="achieve.state === 'solved'">Solved, but not Received yet</span>
                                <span *ngIf="achieve.state === 'none'">Not Solved yet</span>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
