<div class="container"
    [ngClass]="{'__auto': styles}">
    <div class="left">
        <div class="liner">
        </div>
    </div>
    <div class="square">
        <square-element
            cornersSize = '10'
            cornersPosition = 'out'
            borders = 'true'
            element = 'true'
            elementName='{{header}}'>
        </square-element>
    </div>
    <div class="right">
        <div class="liner">
        </div>
    </div>

    <div class="text_container">
        <h1 class="__custom">{{headerText}}</h1>
        <h6 class="__custom" [innerHTML]='description'></h6>
    </div>
</div>

