<div class="container scroll_style_custom"
     *ngIf="mainDiv"
     [@fadeInRightOnEnter]
     [@fadeOutRightOnLeave]
     (@fadeInRightOnEnter.start)="animInStart($event)"
     (@fadeInRightOnEnter.done)="animInDone($event)"
     (@fadeOutRightOnLeave.start)="animOutStart($event)"
     (@fadeOutRightOnLeave.done)="animOutDone($event)">

    <div class="container_inner_space">

        <div class="back_glow">
            <div class="liner">
            </div>
        </div>
        <div class="small_header_position">
            <header-small
                    [ngStyle]="{'margin-top': '3px'}"
                    headerDescription = '{{"sandbox.elements_popup.popup"|translate}}'
                    header = 'POP UP'
                    description = '{{"sandbox.elements_popup.about"|translate}}'>
            </header-small>
            <div class="text __position __description __under_header">
                {{"sandbox.elements_popup.description_1"|translate}}
                <p [innerHTML]='"sandbox.elements_popup.description_2"|translate'>
                </p>
                <div class="settings_help">
                    <p class="__custom" [innerHTML]='"sandbox.elements_popup.description_2a"|translate'>
                    </p>
                    <div class="element_container">
                        <square-button
                                cornersSize = '3'
                                cornersPosition = 'out'
                                [borders] = true
                                state= 'selected'
                                action= 'static'
                                icon = 'bug'>
                        </square-button>
                    </div>
                    <div class="element_container">
                        <square-button
                                cornersSize = '3'
                                cornersPosition = 'out'
                                [borders] = true
                                state= 'selected'
                                action= 'static'
                                icon = 'cookie'>
                        </square-button>
                    </div>
                </div>
                <p>
                    {{"sandbox.elements_popup.description_3"|translate}} <a
                        (mouseenter)="hoverSound()"
                        (click)="remoteRouterScenario('/actions')">{{"sandbox.elements_popup.description_4"|translate}}</a>
                </p>
                <p [innerHTML]='"sandbox.elements_popup.description_5"|translate'>
                </p>
            </div>
        </div>

<!--        <div class="preview_box_rules">-->
<!--            <div class="preview_box_300">-->
<!--                <square-element class="backdrop"-->
<!--                                cornersSize = '10'-->
<!--                                cornersPosition = 'border'-->
<!--                                [borders] = false>-->
<!--                </square-element>-->
<!--                <div class="flexbox scroll_style_custom"-->
<!--                     [ngStyle]="{'width': 280 + 'px', 'height': 280 + 'px', 'padding': 10 + 'px'}">-->
<!--                    &lt;!&ndash;CONTENT HERE&ndash;&gt;-->
<!--                    <div class="mini_strap">-->
<!--                        <div class="mimi_cell"></div>-->
<!--                        <div class="mimi_cell"></div>-->
<!--                        <div class="mimi_cell"></div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;CONTENT END&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>
