$--corners-size: var(-corners-size) + 'px';

.square_body {
  position: relative;
  width: 100%;
  height: 100%;
  * {transition: all var(--transition_all_speed) ease-in-out;}
  --inner_object_color: var(--object_color);
  display: flex;
  align-items: center;
  justify-content: center;

  .image_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacity-in var(--transition_all_speed) linear;
  }

  .corner {
    position: absolute;
    width: 0;
    height: 0;
    transition: all 100ms;

    &.__lt { top: -1px; left: -1px;
      border-left: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rt { top: -1px; right: -1px;
      border-right: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rd { bottom: -1px; right: -1px;
      border-right: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__ld { bottom: -1px; left: -1px;
      border-left: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }


    &.__lt_in { top: 1px; left: 1px;
      border-left: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rt_in { top: 1px; right: 1px;
      border-right: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rd_in { bottom: 1px; right: 1px;
      border-right: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__ld_in { bottom: 1px; left: 1px;
      border-left: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }


    &.__lt_out { top: -3px; left: -3px;
      border-left: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rt_out { top: -3px; right: -3px;
      border-right: 1px solid var(--inner_object_color);
      border-top: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__rd_out { bottom: -3px; right: -3px;
      border-right: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
    &.__ld_out { bottom: -3px; left: -3px;
      border-left: 1px solid var(--inner_object_color);
      border-bottom: 1px solid var(--inner_object_color);
      animation: width-height var(--transition_basic_element_speed) linear;
    }
   }

  svg { height: 100%;
    path { fill: var(--path_fill_regular_color_highlight_small); }
    polygon { fill: var(--path_fill_regular_color_highlight_small); }
    circle { fill: var(--path_fill_regular_color_highlight_small); }
    rect { fill: var(--path_fill_regular_color_highlight_small);
    }
    &.__margin {
      margin: 5px;
    }
  }
}

.ticket {
  svg { height: 100%;
    path { fill: var(--path_fill_regular_color_highlight_small); }
  }
}

@keyframes opacity-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes width-height { from { width: 0; height: 0;} to { width: $--corners-size; height: $--corners-size;} }


