<div [ngClass]="globalsService.colorSettings" class="app_globes size_theme_custom">
    <div class="header_container">
        <app-header>
        </app-header>
    </div>

    <div class="user_select">
    </div>

    <div class="outlet_container" *ngIf="globalsService.loads else loads">
        <router-outlet></router-outlet>
    </div>

    <div class="footer_container">
        <app-footer>
        </app-footer>
    </div>

    <div class="background_container">
        <app-background class="background_container"></app-background>
    </div>

<!--POPUP CONDITIONS-->
    <div *ngIf="globalsService.popupService !== '' && globalsService.loads">
        <app-popup></app-popup>
    </div>

</div>

<ng-template #loads>
    <div class="loader_space">
        <div class="loader_placer">
            <loader-square></loader-square>
            <div class="text_placer">
                <h4 class="__custom __pulse">loading...</h4>
            </div>
<!--            <div class="text">-->
<!--                Sound-->
<!--                CSS-->
<!--                HTML-->
<!--            </div>-->
        </div>
    </div>

</ng-template>

