<div class="box_body"
     #sizeViewer>
    <div class="back_overdrop">
    </div>
    <div class="square_container"
         [ngClass]="{'__left_container' : elementOrient === 'left',
                     '__center_container': elementOrient === 'centre',
                     '__right_container': elementOrient === 'right'}">
        <square-element
                cornersSize = 10
                cornersPosition = 'out'
                [borders] = true
                [element] = true
                elementName = '{{header}}'>
        </square-element>
    </div>

    <div class="header"
         [ngClass]="{'__left_headers' : elementOrient === 'left',
                        '__center_headers': elementOrient === 'centre',
                        '__right_headers': elementOrient === 'right'}">
        <h1><typer-string
                text='{{"receive.receive"|translate}}'
                [durationInner] = 10
                [charsAtOnce] = 1
        ></typer-string></h1>
    </div>

    <div class="descriptor"
         [ngClass]="{'__left_headers' : elementOrient === 'left',
                    '__center_headers': elementOrient === 'centre',
                    '__right_headers': elementOrient === 'right'}">
        <h6>
            <h6><typer-string
                    text='{{"receive.description"|translate}}'
                    [durationInner] = 10
                    [charsAtOnce] = 1
            ></typer-string></h6>
        </h6>
    </div>

    <div class="text_box"
         [ngClass]="{'__center_text' : elementOrient === 'centre'}">
        <h1><typer-string
                text='{{"receive.congratulations"|translate}}'
                [durationInner] = 10
                [charsAtOnce] = 5
        ></typer-string></h1>

        <p>
            <typer-string
                    text='{{"receive.you_solve"|translate}} <span>{{"achives." + globalsService.currentAchieve.name|translate}}</span> {{"receive.achieve"|translate}}'
                    [durationInner] = 10
                    [charsAtOnce] = 5
            ></typer-string>
        </p>

        <div class="achieve_pic">
            <div class="container">
                <square-element
                        cornersSize = 10
                        cornersPosition = 'out'
                        [borders] = true
                        [element] = true
                        elementName = '{{globalsService.currentAchieve.icon}}'>
                </square-element>
            </div>
        </div>

        <div class="buttons">
            <div class="single_button" (click)="closeWatch()">
                <rectangle_button
                        cornersSize = '10'
                        cornersPosition = 'out'
                        [borders] = true
                        state = 'apply'
                        text= '{{"receive.cool"|translate}}'>
                </rectangle_button>
                <div class="text __custom">
                    <typer-string
                            text='{{"receive.cool_description"|translate}}'
                            [durationInner] = 10
                            [charsAtOnce] = 5
                    ></typer-string>
                </div>
            </div>
        </div>
    </div>

    <!--BORDERS PART START-->
    <div *ngIf="borders" class="corner __lt"
         [ngClass]="{'__left_container' : elementOrient === 'left',
                     '__center_container': elementOrient === 'centre',
                     '__right_container': elementOrient === 'right'}">
    </div>


    <div *ngIf="borders" class="corner __rt"
         [ngClass]="{'__left_container' : elementOrient === 'left',
                     '__center_container': elementOrient === 'centre',
                     '__right_container': elementOrient === 'right'}">
    </div>

    <div *ngIf="borders" class="corner __rd"
         [ngStyle]="{
            'width': '50%',
            'height': '50%'}">
    </div>
    <div *ngIf="borders" class="corner __ld"
         [ngStyle]="{
            'width': '50%',
            'height': '50%'}">
    </div>
    <!--BORDERS PART END-->

    <!--CORNERS PART START-->
    <div *ngIf="cornersPosition != 'none'"
         class="corner __lt"
         [ngClass]="{
            '__lt_in' : cornersPosition === 'in',
            '__lt_out' : cornersPosition === 'out',
            '__lt' : cornersPosition === 'border'}"
         [ngStyle]="{
            'width': cornersSize + 'px',
            'height': cornersSize + 'px'}">
    </div>
    <div *ngIf="cornersPosition != 'none'"
         class="corner __rt"
         [ngClass]="{
            '__rt_in' : cornersPosition === 'in',
            '__rt_out' : cornersPosition === 'out',
            '__rt' : cornersPosition === 'border'}"
         [ngStyle]="{
            'width': cornersSize + 'px',
            'height': cornersSize + 'px'}">
    </div>
    <div *ngIf="cornersPosition != 'none'"
         class="corner __rd"
         [ngClass]="{
            '__rd_in' : cornersPosition === 'in',
            '__rd_out' : cornersPosition === 'out',
            '__rd' : cornersPosition === 'border'}"
         [ngStyle]="{
            'width': cornersSize + 'px',
            'height': cornersSize + 'px'}">
    </div>
    <div *ngIf="cornersPosition != 'none'"
         class="corner __ld"
         [ngClass]="{
            '__ld_in' : cornersPosition === 'in',
            '__ld_out' : cornersPosition === 'out',
            '__ld' : cornersPosition === 'border'}"
         [ngStyle]="{
            'width': cornersSize + 'px',
            'height': cornersSize + 'px'}">
    </div>
    <!--CORNERS PART END-->

</div>
