<div class="container scroll_style_custom"
     *ngIf="mainDiv"
     [@fadeInRightOnEnter]
     [@fadeOutRightOnLeave]
     (@fadeInRightOnEnter.start)="animInStart($event)"
     (@fadeInRightOnEnter.done)="animInDone($event)"
     (@fadeOutRightOnLeave.start)="animOutStart($event)"
     (@fadeOutRightOnLeave.done)="animOutDone($event)">

    <div class="container_inner_space">
        <div class="back_glow">
            <div class="liner">
            </div>
        </div>
        <div class="small_header_position">
            <header-small
                    [ngStyle]="{'margin-top': '3px'}"
                    header = 'ELEMENTS'
                    headerDescription='{{"sandbox.elements_sheet.elements"|translate}}'
                    description = '{{"sandbox.elements_sheet.customs"|translate}}'>
            </header-small>
            <div class="text __position __description __under_header">
                {{"sandbox.elements_sheet.customs"|translate}}
                <p>
                    {{"sandbox.elements_sheet.description_1"|translate}}
                </p>
            </div>
        </div>

        <div class="preview_box_rules">
            <div class="preview_box_300">
                <square-element class="backdrop"
                                cornersSize = '10'
                                cornersPosition = 'border'
                                [borders] = false>
                </square-element>
                <div class="flexbox scroll_style_custom"
                     [ngStyle]="{'width': 280 + 'px', 'height': 280 + 'px', 'padding': 10 + 'px'}">
                    <!--CONTENT HERE-->
                    <div *ngIf="elementDisplay === 'drop'" class="simply_drops">
                        <p>{{"sandbox.elements_sheet.description_3"|translate}}</p>
                        <dropdown
                                class = 'casualMenu'
                                [object]= menuListSimplyElements
                                selected = '{{elementSimplyDisplay}}'
                                (callBack)="this.valueSimplyChanged($event)">
                        </dropdown>
                        <div class="text __custom">{{"sandbox.elements_sheet.value"|translate}} <span>{{elementSimplyDisplay}}</span></div>
                    </div>

                    <div *ngIf="elementDisplay === 'small'" class="simply_drops __items">
                        <p>{{"sandbox.elements_sheet.css"|translate}}</p>
                            <div class="flex_row __items">
                                <input id="c1" type="checkbox"
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="c1"><div class="text _custom">{{"sandbox.elements_sheet.checkbox"|translate}}</div></label>
                            </div>
                            <div class="flex_row">
                                <input id="c2" type="checkbox" checked
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="c2"><div class="text _custom">{{"sandbox.elements_sheet.checkbox"|translate}}</div></label>
                            </div>
                            <div class="flex_row">
                                <input id="r1" type="radio" name="radio" value="1"
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="r1"><div class="text _custom">{{"sandbox.elements_sheet.radio"|translate}}</div></label>
                            </div>
                            <div class="flex_row">
                                <input id="r2" type="radio" name="radio" value="2" checked
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="r2"><div class="text _custom">{{"sandbox.elements_sheet.radio"|translate}}</div></label>
                            </div>
                            <div class="flex_row">
                                <input id="s1" type="checkbox" class="switch"
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="s1"><div class="text _custom">{{"sandbox.elements_sheet.switch"|translate}}</div></label>
                            </div>
                            <div class="flex_row">
                                <input id="s2" type="checkbox" class="switch" checked
                                    (click)="applySoundPlay()"
                                    (mouseover)="hoverSoundPlay()">
                                <label for="s2"><div class="text _custom">{{"sandbox.elements_sheet.switch"|translate}}</div></label>
                            </div>
                    </div>

                    <div *ngIf="elementDisplay === 'range'" class="simply_input">
                        <p>{{"sandbox.elements_sheet.description_2"|translate}}</p>
                            <input type="range" min="0" max="100" step="1" value='{{simplyRange}}'
                                   (mouseup)="valueRangeChanged($event)"
                                   (touchend)="valueRangeChanged($event)">
                        <div class="text __custom">{{"sandbox.elements_sheet.value"|translate}} <span>{{simplyRange}}</span></div>
                    </div>
                    <!--CONTENT END-->
                </div>
            </div>

            <div class="controls_box">
                <p class="__custom">{{"sandbox.elements_sheet.view"|translate}}</p>

                <div class="text"
                     [ngStyle]="{'margin-top': 10 + 'px',
                                 'margin-right': 0 + 'px',
                                 'margin-bottom': 5 + 'px'}">
                    {{"sandbox.elements_sheet.item"|translate}}
                </div>
                <div class="custom-select" id="header-container"
                     [ngStyle]="{'width': 298 +'px',
                                 'height': 20 + 'px',
                                 'margin-bottom': 20 + 'px'}">
                    <dropdown
                            class = 'casualMenu'
                            [object]= menuListElements
                            selected = '{{elementDisplay}}'
                            (callBack)="this.valueElementChanged($event)">
                    </dropdown>
                </div>
            </div>
        </div>
    </div>
</div>


