$breake-point-1: 1400px;
$breake-point-2: 1300px;
$breake-point-3: 1200px;
$breake-point-4: 1100px;
$breake-point-5: 1050px;
$breake-point-6: 1000px;

$breake-point-7t: 950px;

$breake-point-7: 900px;
$breake-point-8: 850px;

$breake-point-9t: 823px;

$breake-point-9: 750px;
$breake-point-10: 650px;
$breake-point-11: 600px;
$breake-point-12: 550px;
$breake-point-13: 500px;
$breake-point-14: 450px;
$breake-point-15: 400px;
$breake-point-16: 350px;
$breake-point-17: 300px;


$breake-point-overSmall: 250px;
